Day7/__pycache__/hangman_art.cpython-39.pyc
Day7/__pycache__/hangman_words.cpython-39.pyc
Day8/__pycache__/caesar_art.cpython-39.pyc
Day9/__pycache__/art.cpython-39.pyc
Day10/__pycache__/art.cpython-39.pyc
Day11/__pycache__/art.cpython-39.pyc
